APP_NAME=HotelRetro
APP_ENV=local
APP_KEY=base64:ChangeThis
APP_DEBUG=true
APP_URL=https://api.xcleone.me

LOG_CHANNEL=stack

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=hotel
DB_USERNAME=hotel_user
DB_PASSWORD=secret

SESSION_DRIVER=cookie
SESSION_DOMAIN=.xcleone.me
SANCTUM_STATEFUL_DOMAINS=xcleone.me,api.xcleone.me,localhost
CORS_ALLOWED_ORIGINS=https://xcleone.me
