:root{
  --bg:#071018;
  --frost:#C7D1D9;
  --sodium:#D98F3B;
}
html,body,#root{height:100%}
body{margin:0;background:var(--bg);color:var(--frost);font-family: 'IBM Plex Mono', monospace}

h1{font-family: 'Space Grotesk', sans-serif}
